.vs/
x64/
out/
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.synctex.gz
*.toc
*.out

lib/
bin/
Release/

*.dir
*.vcxproj
*.vcxproj.user
*.filters
*.tlog
*cmake_install.cmake
*cmake_uninstall.cmake
*.depnd
*.obj
*CMakeCache.txt
*CMakeFiles*

*.sln

Dependencies/glew/glew.pc
Dependencies/glfw/src/glfw3.pc
Dependencies/glfw/src/glfw3ConfigVersion.cmake
Dependencies/glfw/src/glfw_config.h

Debug/
Dependencies/glfw/src/Debug/